/*@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');
/*
*/
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url(hero.png);
   background-size: cover;
}
.head{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    color:rgba(235, 235, 235,0.85);
    list-style-type: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.head li{
    padding:0px 12px
}
    

.logo{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bolder;
    gap: 10px;
    color: white;
}

.logo img{
    height: 50px;

}

.container{
   min-height: 69.3vh;
   display: flex;
   margin: 23px  auto;
   width: 70%;
   font-family: "Varela Round", sans-serif;
   font-weight: 400;
   font-style: normal;
   background-image:url('heross.png');

   background-size: cover;
   background-position:center;
   border-radius: 12px;
   color: white;
   gap: 15px;
   padding: 18px;
   flex-direction: column;
}
.list{
    
  
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.songsList{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    background-color: transparent;
    margin: 0px 8px;
    border-radius: 16px;

    font-size: small;
   padding: 0px 8px;
}
.songsList img{
    height:30px;
    width: 30px;
    border-radius: 50%;
}
.timestamp{
    padding: 0px 10px;
    display: flex;
    gap: 10px;
}
.timestamp i{
    cursor: pointer;
}

.buttom{
      background-color: black;
      height: 14.9vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position:sticky;
      flex-direction: column;
      gap: 15px;
      box-sizing: border-box;

} 
.buttom #myProgressBar{
    width: 75vw;
    cursor: pointer;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
   
    width: 180px;
    height: 40px;
    color: white;
}
.icons:hover{
    border: 2px solid rgba(255, 255, 255,0.7);
    border-radius: 10px;
    cursor: pointer;
}
.buttom i{
    color: white;
}
.songsInfo{
    left:10vh;
    padding-top: 4vh;
    width: 30%;
    position: absolute;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: medium;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
}
.songsInfo img{
    width: 60px;
    opacity: 0;
    transition: opacity 0.4s  ease-in ;
}
.songsInfo h5{
    display: flex;
    justify-content: center;
    align-self:first flex-end;
    color: rgba(255, 255, 255,0.8);
}